// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background: rgb(230, 230, 230);

}

.btn-secondary {
  background-color: #8B62A6;
}

.btn-secondary:hover{
  background-color: #ac7ace;
}

.btn-primary{
  background-color: #8B62A6;
  border-color:#8B62A6;
}

.btn-primary:hover {
  background-color: #ac7ace;
  border-color: #ac7ace;
}
