<h2><%= furniture.name %></h2>
<p><%= furniture.location %></p>
<% if furniture.user_id != current_user.id %>
  <%= link_to "Create offer", new_furniture_offer_path(furniture), class: "btn btn-secondary" %>
<% else %>
  <%= link_to "Edit", edit_furniture_path(furniture), class: "btn btn-secondary me-3" %>
<% end %>
